{% extends "webapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="media border border-info p-5 rounded">
  <div class="media-body">
    <img src="{{ user.profile.image.url }}" class="rounded-circle" alt="" style="width:200px; height:200px;">

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{p_form | crispy }}
        <button class="btn btn-success" type="submit">
          Update
        </button>
      </form>
  </div>
</div>

{% endblock content%}
